body,
html {
  height: 100%;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Roboto', Helvetica, sans-serif;
  line-height: 1.42;
  color: $text-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  width: 100%;
  position: relative;
}

.maincontent {
  height: 100%;
  width: 100%;
}

.container {
  margin: 0 auto;
  width: 95%;
}

.section {
  min-height: 650px;
  height: 100%;
  width: 100%;
  position: relative;
}

button {
  border: 0;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

ul li {
  display: inline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

blockquote {
  margin: 0;
}